* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: darkcyan;
  padding: 40px 150px;
}
hr {
  margin: 20px 0px;
}
button {
  padding: 10px 20px;
  font-size: 22px;
  margin: 20px;
}
